html{
	height:100%;
	overflow-x: hidden;/*表示水平方向隐藏溢出，没有滚动条*/
	background: #f5f5f5;
	color:#444;
	font：14px/24px Helvetica !important; /*设置字体样式，!important 设置该元素的样式具有最高权值*/
}
body{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	/**/
}