.qui-page{
	width:640px;
}
.qui-header{
	width:100px;
	height: 80px;
	overflow: hidden;
	background-color:#2bab79;
}
.container{
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
.picRouteList{
	border-bottom:1px solid #e6e8ea; /*底部边框为1px,颜色为#e6e8ea的实线*/
	background-color: #fff;
	padding-left:5px;/*内边距为5px*/
}
.picRouteList li{
	padding:15px,5px,15px,0;
	border-top: 1px solid #e6e8ea;/*顶部边框为1px 颜色为#e6e8ea的实线*/
}
.picRouteList a{
	display: block;
	position: relative;
}
.picRouteList .pic{
	display: block;
	min-height:150px;
}
.picRouteList .bottom{
	position: absolute;
	left:0;
	right:0;
	
}