.qui-page{
	width:640px;
}
.qui-header{
	width:100px;
	height: 80px;
	overflow: hidden;
	background-color:#2bab79;
}
.container{
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
.picRouteList{
	border-bottom:1px solid #e6e8ea; /*底部边框为1px,颜色为#e6e8ea的实线*/
	background-color: #fff;
	padding-left:5px;/*内边距为5px*/
}
.picRouteList li{
	padding:15px,5px,15px,0;
	border-top: 1px solid #e6e8ea;/*顶部边框为1px 颜色为#e6e8ea的实线*/
}
.picRouteList a{
	display: block;
	position: relative;
}
.picRouteList .pic{
	display: block;
	min-height:150px;
}
.picRouteList .bottom{
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	height: 50px;
	padding: 30px 0 0 60px;
	color:#fff;
	/*背景颜色：线性渐变，从上到下右黑色渐变至透明度为60%的黑色*/
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.6));
	background-image: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.6));
}
.picRouteList .bottom .face{
	float:left;/*向左浮动*/
	margin-left:-50px;
	width:38px;
	height:38px;
	border:1px solid #fff;
	border-radius:50%; /*微元素添加圆角边框，边框半径为宽度的50%*/
	overflow: hidden;	
}

